.resultWrap {
  @include positioning(absolute, 50%, 50%, -50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  text-align: center;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .result {
    font-size: 4em;
    font-weight: 900;
    color: $secondaryColorBG;
    text-decoration: underline;
    border-radius: 50%;
    padding: 10px;
  }
  .comment {
    height: 100px;
  }
}
