.wrap {
  @include positioning(absolute, 50%, 50%, -50%, -50%);
  opacity: 1;
  width: 350px;
  min-height: 550px;
  background-color: #eceff1;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.301);
  transition: 0.1s;
  overflow: hidden;

  .title {
    position: relative;
    text-align: center;
    padding: 1.5rem;
    color: $whiteFont;
    font-weight: normal;
    z-index: 4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: $blueBackground;
  }

  .progress {
    position: relative;
    margin: 20px;
    height: 15px;
    border-radius: 11px 11px 11px 11px;
    background: $blueBackground;
    overflow: hidden;

    .bar {
      @include positioning(absolute, 0, 0, 0, 0);
      background-color: $whiteBG;
      width: 100%;
      height: 100%;
      transition: linear 0.45s;
    }
  }
}
