$secondaryColorBG: #21b7fc;
$warningBtn: #ffb818;
$whiteBG: rgb(255, 255, 255);
$whiteBtnBG: rgb(255, 255, 255);
$lessWhiteBG: rgb(249, 249, 249);
$background: linear-gradient(108deg, rgba(189,226,238,1) 0%, rgba(230,235,237,1) 75%);  
$blueBackground: linear-gradient(90deg, rgba(78,208,224,1) 0%, rgba(0,173,254,1) 75%);
$whiteFont: rgb(230, 230, 230);
$shadowBtn: rgba(66, 68, 90, 1);
$blackInactiveFont: rgba(0, 0, 0, 0.452);
$blackActiveFont: rgb(0, 0, 0);
$wrapBG: #eceff1;