@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: $background;
  font-family: Heebo, sans-serif;
  
  .wrap {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 550px;
    background-color: #eceff1;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.301);
    transition: .1s;
    overflow: hidden;
    
    .title{
      position: relative;
      text-align: center;
      padding: 1.5rem;
      color: $whiteFont;
      font-weight: normal;
      z-index: 4;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background: $blueBackground;
    }

    .progress {
      position: relative;
      margin: 20px;
      height: 15px;
      border-radius: 11px 11px 11px 11px;
      background: $blueBackground;
      overflow: hidden;

      .bar {
        position: absolute;
        background-color: $whiteBG;
        width: 100%;
        height: 100%;
        left: 0%;
        transition: linear .45s;
      }
    }

    .resultWrap {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      position: absolute;
      width: 70%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: -1;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

      .result {
        font-size: 4em;
        font-weight: 900;
        color: $secondaryColorBG;
        text-decoration: underline;
        border-radius: 50%;
        padding: 10px;
      }
      .comment {
        height: 100px;
      }
    }
    
    .questionWrap {
      position: relative;
      border-radius: 15px;
      margin: 20px;
      top: 0px;
      left: 0px;
      overflow: hidden;
      z-index: 3;

      transition: 0.3s;
      .question {
        background-color: $lessWhiteBG;
        padding: 30px;
        color: $secondaryColorBG;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
      .answers {
        background-color: $whiteBG;
        display: grid;
        grid-template-columns: 26px auto;
        font-size: 1.2em;
        row-gap: 1.5em;
        padding: 1.5rem 1rem 1.5rem 1rem ;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        span {
          display: block;
          font-size: 1.2em;
          font-weight: 700;
          line-height: 1.3;
          -webkit-text-decoration: double;
                  text-decoration: double;
        }
      }
      
    }
    .btns {
      display: flex;
      position: relative;
      top: 0px;
      left: 0px;
      justify-content: space-around;
      margin: 3rem 1rem;
      .btn {
        position: relative;
        top: 0px;
        left: 0px;
        cursor: pointer;
        transition: 0.3s;      
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        
        span {
          display: block;
          background-color: $whiteBtnBG;
          color: $blackInactiveFont;
          font-weight: 600;
          width: 65px;
          text-align: center;
          font-size: 1.3rem;
          padding: 1rem 1.5rem;
          border-radius: 40%;
          box-shadow: inset 0px 0px 1px -2px $secondaryColorBG, 0px 3px 9px -8px $shadowBtn;
          transition: ease-out .1s;

          &:hover {
            box-shadow: inset 0px 0px 0px 3px  $secondaryColorBG, 0px 3px 9px -8px $shadowBtn;
            color: $blackActiveFont;
          }
        }
        
        span.opt {
          -webkit-animation-duration: 0.6s;
                  animation-duration: 0.6s;
        }

        @-webkit-keyframes blink {
          0% {background-color: $whiteBtnBG;}
          16% {background-color: $warningBtn;}
          33% {background-color: $whiteBtnBG;}
          50% {background-color: $warningBtn;}
          67% {background-color: $whiteBtnBG;}
          83% {background-color: $warningBtn;}
          100% {background-color: $whiteBtnBG;}
        }

        @keyframes blink {
          0% {background-color: $whiteBtnBG;}
          16% {background-color: $warningBtn;}
          33% {background-color: $whiteBtnBG;}
          50% {background-color: $warningBtn;}
          67% {background-color: $whiteBtnBG;}
          83% {background-color: $warningBtn;}
          100% {background-color: $whiteBtnBG;}
        }


        input:checked ~ span {
          box-shadow: inset 0px 0px 20px 20px  $secondaryColorBG, 0px 3px 9px -8px $shadowBtn;
          color: $blackActiveFont;
        }
      }

      .restart {
        position: absolute;
        top: -150px;
        left: 50%;
        width: 64px;
        height: 64px;
        transform: translateX(-50%);
        border: 0;
        background-color: $whiteBtnBG;
        color: $blackInactiveFont;
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
        border-radius: 40%;
        box-shadow: inset 0px 0px 1px -2px $secondaryColorBG, 0px 3px 9px -8px $shadowBtn;
        transition: ease-out .3s;
        .material-symbols-outlined{
          transform: scaleX(-1);
        }
        &:hover {
          box-shadow: inset 0px 0px 0px 3px  $secondaryColorBG, 0px 3px 9px -8px $shadowBtn;
          color: $blackActiveFont;
          .material-symbols-outlined{
            transform: scaleX(-1) rotate(360deg);
            transition: 0.3s;
          } 
        }
      }
    }
  } 
}